asn1crypto==0.24.0
atomicwrites==1.2.1
attrs==18.2.0
-e git+https://github.com/ucb-art/BAG_framework.git@e2b2f54423735020be61f66a915b676da5c54797#egg=bag&subdirectory=../../BAG_framework
certifi==2018.10.15
cffi==1.11.5
chardet==3.0.4
conda==4.5.11
cryptography==2.4.1
cycler==0.10.0
decorator==4.3.0
h5py==2.8.0
idna==2.7
Jinja2==2.10
kiwisolver==1.0.1
MarkupSafe==1.1.0
matplotlib==3.0.2
memory-profiler==0.54.0
more-itertools==4.3.0
networkx==2.2
numpy==1.15.4
pexpect==4.6.0
pluggy==0.8.0
psutil==5.4.8
ptyprocess==0.6.0
py==1.7.0
pycosat==0.6.3
pycparser==2.18
pyOpenSSL==18.0.0
pyparsing==2.3.0
PySocks==1.6.8
pytest==4.0.1
python-dateutil==2.7.5
PyYAML==3.13
pyzmq==17.1.2
requests==2.19.1
Rtree==0.8.3
ruamel-yaml==0.15.46
scipy==1.1.0
Shapely==1.6.4.post2
six==1.11.0
urllib3==1.23
